<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kaazing.ws.client.demo" android:versionCode="1" android:versionName="4.0">

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="com.kaazing.ws.client.demo.EchoActivity" android:configChanges="orientation" android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="19" android:maxSdkVersion="23"/>
  <uses-permission android:name="android.permission.INTERNET"/>

</manifest>

